<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QES Photo-Slideshow App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Honk&display=swap">
    </head>
    <body>
        <div id = "header">
            <div id="logo">QES</div>
            <div id="buttons">
                <button class="button" onclick="location.href='loginPage'">Login or Sign Up</button>
            </div>
        </div>
        <div id = "bg">
            <div id="welcome-box">
                <h1 style="font-family: 'Honk', sans-serif;">Welcome to the QES Photo-Slideshow App!</h1>
                <p>It is a dynamic web-based application designed to empower users to seamlessly convert a sequence of images into a captivating video presentation. Whether for personal reminiscence, professional presentations, or creative expression, the Photo-slideshow app offers a versatile platform to transform static images into dynamic and engaging video content, enriching storytelling and visual communication experiences for users across diverse backgrounds and purposes.</p>
                <p>To begin, register or login via the button at the top right.</p>
            </div>
        </div>
    </body>
</html>
